macrodeck-lca/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="MacroDeck"
	xmlns:typens="http://www.macrodeck.com/xmlns/services/1.0/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	targetNamespace="http://www.macrodeck.com/xmlns/services/1.0/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.macrodeck.com/xmlns/services/1.0/">
			<xsd:complexType name="DataServiceCustomTypes..YAML">
				<xsd:all>
					<xsd:element name="yamlContent" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType
				name="DataServiceCustomTypes..ItemMetadata">
				<xsd:all>
					<xsd:element name="title" type="xsd:string" />
					<xsd:element name="description" type="xsd:string" />
					<xsd:element name="creatorApp" type="xsd:string" />
					<xsd:element name="dataType" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="DataService-SetIntegerValue">
		<part name="authCode" type="xsd:string" />
		<part name="itemUUID" type="xsd:string" />
		<part name="value" type="xsd:int" />
	</message>
	<message name="DataService-SetIntegerValueResponse">
		<part name="return" type="xsd:boolean" />
	</message>
	<message name="DataService-CreateDataItem">
		<part name="authCode" type="xsd:string" />
		<part name="grouping" type="xsd:string" />
		<part name="metadata"
			type="typens:DataServiceCustomTypes..ItemMetadata" />
	</message>
	<message name="DataService-CreateDataItemResponse">
		<part name="return" type="xsd:string" />
	</message>
	<message name="DataService-DeleteIntegerValue">
		<part name="authCode" type="xsd:string" />
		<part name="itemUUID" type="xsd:string" />
	</message>
	<message name="DataService-DeleteIntegerValueResponse">
		<part name="return" type="xsd:boolean" />
	</message>
	<message name="DataService-DeleteDataItem">
		<part name="authCode" type="xsd:string" />
		<part name="itemUUID" type="xsd:string" />
	</message>
	<message name="DataService-DeleteDataItemResponse">
		<part name="return" type="xsd:boolean" />
	</message>
	<message name="DataService-SetObjectValue">
		<part name="authCode" type="xsd:string" />
		<part name="itemUUID" type="xsd:string" />
		<part name="value" type="typens:DataServiceCustomTypes..YAML" />
	</message>
	<message name="DataService-SetObjectValueResponse">
		<part name="return" type="xsd:boolean" />
	</message>
	<message name="DataService-DeleteObjectValue">
		<part name="authCode" type="xsd:string" />
		<part name="itemUUID" type="xsd:string" />
	</message>
	<message name="DataService-DeleteObjectValueResponse">
		<part name="return" type="xsd:boolean" />
	</message>
	<message name="DataService-SetStringValue">
		<part name="authCode" type="xsd:string" />
		<part name="itemUUID" type="xsd:string" />
		<part name="value" type="xsd:string" />
	</message>
	<message name="DataService-SetStringValueResponse">
		<part name="return" type="xsd:boolean" />
	</message>
	<message name="DataService-DeleteStringValue">
		<part name="authCode" type="xsd:string" />
		<part name="itemUUID" type="xsd:string" />
	</message>
	<message name="DataService-DeleteStringValueResponse">
		<part name="return" type="xsd:boolean" />
	</message>
	<portType name="MacroDeckDataServicePort">
		<operation name="SetIntegerValue">
			<input message="typens:DataService-SetIntegerValue" />
			<output
				message="typens:DataService-SetIntegerValueResponse" />
		</operation>
		<operation name="CreateDataItem">
			<input message="typens:DataService-CreateDataItem" />
			<output message="typens:DataService-CreateDataItemResponse" />
		</operation>
		<operation name="DeleteIntegerValue">
			<input message="typens:DataService-DeleteIntegerValue" />
			<output
				message="typens:DataService-DeleteIntegerValueResponse" />
		</operation>
		<operation name="DeleteDataItem">
			<input message="typens:DataService-DeleteDataItem" />
			<output message="typens:DataService-DeleteDataItemResponse" />
		</operation>
		<operation name="SetObjectValue">
			<input message="typens:DataService-SetObjectValue" />
			<output message="typens:DataService-SetObjectValueResponse" />
		</operation>
		<operation name="DeleteObjectValue">
			<input message="typens:DataService-DeleteObjectValue" />
			<output
				message="typens:DataService-DeleteObjectValueResponse" />
		</operation>
		<operation name="SetStringValue">
			<input message="typens:DataService-SetStringValue" />
			<output message="typens:DataService-SetStringValueResponse" />
		</operation>
		<operation name="DeleteStringValue">
			<input message="typens:DataService-DeleteStringValue" />
			<output
				message="typens:DataService-DeleteStringValueResponse" />
		</operation>
	</portType>
	<binding name="MacroDeckDataServiceBinding"
		type="typens:MacroDeckDataServicePort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="rpc" />
		<operation name="SetIntegerValue">
			<soap:operation
				soapAction="/services/DataService/SetIntegerValue" />
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.macrodeck.com/xmlns/services/1.0/"
					use="encoded" />
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.macrodeck.com/xmlns/services/1.0/"
					use="encoded" />
			</output>
		</operation>
		<operation name="CreateDataItem">
			<soap:operation
				soapAction="/services/DataService/CreateDataItem" />
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.macrodeck.com/xmlns/services/1.0/"
					use="encoded" />
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.macrodeck.com/xmlns/services/1.0/"
					use="encoded" />
			</output>
		</operation>
		<operation name="DeleteIntegerValue">
			<soap:operation
				soapAction="/services/DataService/DeleteIntegerValue" />
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.macrodeck.com/xmlns/services/1.0/"
					use="encoded" />
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.macrodeck.com/xmlns/services/1.0/"
					use="encoded" />
			</output>
		</operation>
		<operation name="DeleteDataItem">
			<soap:operation
				soapAction="/services/DataService/DeleteDataItem" />
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.macrodeck.com/xmlns/services/1.0/"
					use="encoded" />
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.macrodeck.com/xmlns/services/1.0/"
					use="encoded" />
			</output>
		</operation>
		<operation name="SetObjectValue">
			<soap:operation
				soapAction="/services/DataService/SetObjectValue" />
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.macrodeck.com/xmlns/services/1.0/"
					use="encoded" />
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.macrodeck.com/xmlns/services/1.0/"
					use="encoded" />
			</output>
		</operation>
		<operation name="DeleteObjectValue">
			<soap:operation
				soapAction="/services/DataService/DeleteObjectValue" />
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.macrodeck.com/xmlns/services/1.0/"
					use="encoded" />
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.macrodeck.com/xmlns/services/1.0/"
					use="encoded" />
			</output>
		</operation>
		<operation name="SetStringValue">
			<soap:operation
				soapAction="/services/DataService/SetStringValue" />
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.macrodeck.com/xmlns/services/1.0/"
					use="encoded" />
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.macrodeck.com/xmlns/services/1.0/"
					use="encoded" />
			</output>
		</operation>
		<operation name="DeleteStringValue">
			<soap:operation
				soapAction="/services/DataService/DeleteStringValue" />
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.macrodeck.com/xmlns/services/1.0/"
					use="encoded" />
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://www.macrodeck.com/xmlns/services/1.0/"
					use="encoded" />
			</output>
		</operation>
	</binding>
	<service name="MacroDeckService">
		<port name="MacroDeckDataServicePort"
			binding="typens:MacroDeckDataServiceBinding">
			<soap:address
				location="http://www.macrodeck.com/services/DataService" />
		</port>
	</service>
</definitions>
